<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>UILaunchStoryboardName</key>
        <string>Launch Screen</string>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>armv7</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <!-- cf bundle url types -->
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>com.amazon.MySampleApp</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fb1122964031061848</string>
                </array>
            </dict>
        </array>
        <!-- facebook keys -->
        <key>FacebookAppID</key>
        <string>1122964031061848</string>
        <key>FacebookDisplayName</key>
        <string>MySampleApp</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSExceptionDomains</key>
            <dict>
                <key>amazonaws.com</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionMinimumTLSVersion</key>
                    <string>TLSv1.0</string>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
                <key>cloudfront.net</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionMinimumTLSVersion</key>
                    <string>TLSv1.0</string>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
                <key>akamaihd.net</key>
                <dict>
                    <key>NSExceptionRequiresForwardSecrecy</key>
                    <false/>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                </dict>
                <key>facebook.com</key>
                <dict>
                    <key>NSExceptionRequiresForwardSecrecy</key>
                    <false/>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                </dict>
                <key>fbcdn.net</key>
                <dict>
                    <key>NSExceptionRequiresForwardSecrecy</key>
                    <false/>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                </dict>
            </dict>
        </dict>
        <key>AWS</key>
        <dict>
            <key>PushManager</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>SNSConfiguredTopics</key>
                    <array>
                        <string>arn:aws:sns:us-east-1:752818564425:livi_alldevices_MOBILEHUB_2026985135</string>
                        <string/>
                    </array>
                    <key>Region</key>
                    <string>USEast1</string>
                    <key>SNSPlatformApplicationARN</key>
                    <string>arn:aws:sns:us-east-1:752818564425:app/APNS/livi_MOBILEHUB_2026985135</string>
                </dict>
            </dict>
            <key>IdentityManager</key>
            <dict>
                <key>Default</key>
                <dict/>
            </dict>
            <key>CloudLogic</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>Region</key>
                    <string>USEast1</string>
                </dict>
            </dict>
            <key>ContentManager</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>CloudFrontURL</key>
                    <string>https://dty606ak3ltc7.cloudfront.net</string>
                    <key>S3Bucket</key>
                    <string>livi-contentdelivery-mobilehub-2026985135</string>
                    <key>Region</key>
                    <string>USEast1</string>
                </dict>
            </dict>
            <key>MobileAnalytics</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>AppId</key>
                    <string>239152c680af46a1a05a8e3db0ab5d4d</string>
                    <key>Region</key>
                    <string>USEast1</string>
                </dict>
            </dict>
            <key>CredentialsProvider</key>
            <dict>
                <key>CognitoIdentity</key>
                <dict>
                    <key>Default</key>
                    <dict>
                        <key>PoolId</key>
                        <string>us-east-1:7ed3e37f-ae3f-4184-9eb9-f1d690b77f21</string>
                        <key>Region</key>
                        <string>USEast1</string>
                    </dict>
                </dict>
            </dict>
            <key>Cognito</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>Region</key>
                    <string>USEast1</string>
                </dict>
            </dict>
            <key>MobileHub</key>
            <dict>
                <key>ProjectClientId</key>
                <string>MobileHub 5fff6340-6572-4551-a3b7-64f08c31f938 aws-my-sample-app-ios-objc-v0.6</string>
            </dict>
            <key>UserFileManager</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>S3Bucket</key>
                    <string>livi-userfiles-mobilehub-2026985135</string>
                    <key>Region</key>
                    <string>USEast1</string>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
